:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f0fdf4;
}

h1,
h2 {
  color: #065f46;
}

a {
  transition: 0.3s;
}

a:hover {
  opacity: 0.8;
}