:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0fdf4;
  margin: 0;
}

h2 {
  color: #065f46;
}

table {
  border-collapse: collapse;
}